#root {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: space-between; */
}

.box {
    height: 200px;
    width: 200px;
    position: fixed;
    background-color: aquamarine;
    left: 40%;
    top: 50%;
}
.dndbox {
    height: 200px;
    width: 200px;
    position: fixed;
    background-color: aquamarine;
    left: 40%;
    top: 50%;
}

.column {
    border: dashed white 2px;
    height: 100vh - 2px;
    width: 250px;
    padding: 8px;
    margin: 2px;
}

.row {
    border: dashed white 2px;
    height: 210px;
    width: 100%;
}
